<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="../public/css/index.css"/>
		<link rel="stylesheet" type="text/css" href="../public/css/accessories_detail.css"/>
		<link rel="stylesheet" type="text/css" href="../public/css/shop.css"/>
		<link href="../public/css/animation.css" rel="stylesheet">
        <link rel="stylesheet" href="../public/css/fontello.css">
		<title></title>
	</head>
	<body>
		<header>
			<div class="header">
				<div class="locate">
					<span class="icon-location"></span>
					<span id="location">武汉</span>
				</div>
				<h1>商品详情</h1>
			</div>
			<div class="s-title type">奥迪>A4>1.8T>2009</div>
		</header>
		<div id="main">
			<section class="show">
				<span class="label new">新品</span>
			</section>
			<section class="a-info">
				<header>
					<h2>BOSCH博世 前刹车片 （一盒四片装）</h2>
					
				</header>
				<div class="content">
					<div class="red s-t">舒适，更高的享受</div>
					<div>
						<span>评论：</span>
						<ul class="stars">
							<li><span class="icon-star"></span></li>
							<li><span class="icon-star"></span></li>
							<li><span class="icon-star"></span></li>
							<li><span class="icon-star"></span></li>
							<li><span class="icon-star"></span></li>
						</ul>
					</div>
					<div class=""><span>市场价：</span><del class="del-p">$565</del></div>
					<div class=""><span>市场价：</span><span class="price">$288.00</span></div>
					<div class=""><span>库存情况：</span><span class="true">有货</span></div>
					<div class="red"><span>参考情况：</span><span>4片</span></div>
				</div>
			</section>
			<section id="comment" class="comment" >
				<div class="totle">
					<h2>
						<span>总体评分：</span>
						<ul class="stars">
							<li><span class="icon-star"></span></li>
							<li><span class="icon-star"></span></li>
							<li><span class="icon-star"></span></li>
							<li><span class="icon-star"></span></li>
							<li><span class="icon-star"></span></li>
						</ul>
						<span>(18)</span>
					</h2>
					<ul class="score">
						<li>服务态度： <span>4.0</span></li>
						<li>技术水平： <span>5.0</span></li>
						<li>收费标准： <span>3.0</span></li>
						<li>店内环境： <span>2.0</span></li>
					</ul>
				</div>
			</div>
		</div>
		<footer>
			<a>加入订单</a>
		</footer>
	</body>
</html>
