<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html" charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="../public/css/index.css"/>
		<link rel="stylesheet" type="text/css" href="../public/css/my_car.css"/>
		<link href="../public/css/animation.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../public/css/as.css"/>
		<link rel="stylesheet" href="../public/css/car_choose.css" />
        <link rel="stylesheet" href="../public/css/fontello.css">
        <link rel="stylesheet" type="text/css" href="../public/css/mobilebone.css"/>
		<script src="../public/js/as.js" type="text/javascript" charset="utf-8"></script>
		<script src="../public/js/mobilebone.js" type="text/javascript" charset="utf-8"></script>
		<title></title>
	</head>
	<body>
		<header>
			<div class="header">
				<div class="locate">
					<span class="icon-location"></span>
					<span id="location">武汉</span>
				</div>
				<h1>选择车型</h1>
			</div>
			<nav>
				<ul>
					<li class="active"><a href="#car">默认</a></li>
					<li class=""><a href="#tel">距离</a></li>
				</ul>
			</nav>
			<div class="s-title custom">
				<span>自定义车型</span>
				<span class="icon-reply"></span>
			</div>
		</header>
		<div id="main">
			<form id="car" class="page in" action="" method="post">
				<dl>
					<dt>我的爱车</dt>
					<dd>
						<label href="car_choose2.html" data-ajax="true">
							<input type="radio" name="car" id="" value="" />
							<div class="car-icon">
								<img src="../public/img/Bz6ssBlIgAAmVbn.png">
							</div>
							<div class="text">
								<span class="info">奥迪/A6/1.8t/2009</span>
								<span class="info">奥迪/A6/1.8t/2009</span>
							</div>
							<span class="icon icon-star right"></span>
						</label>
					</dd>
					<dd>
						<label href="car_choose2.html" data-ajax="true">
							<input type="radio" name="car" id="" value="" />
							<div class="car-icon">
								<img src="../public/img/Bz6ssBlIgAAmVbn.png">
							</div>
							<div class="text">
								<span class="info">奥迪/A6/1.8t/2009</span>
								<span class="info">奥迪/A6/1.8t/2009</span>
							</div>
							<span class="icon icon-star right"></span>
						</label>
					</dd>
					<dd>
						<label href="car_choose2.html" data-ajax="true">
							<input type="radio" name="car" id="" value="" />
							<div class="car-icon">
								<img src="../public/img/Bz6ssBlIgAAmVbn.png">
							</div>
							<div class="text">
								<span class="info">奥迪/A6/1.8t/2009</span>
								<span class="info">奥迪/A6/1.8t/2009</span>
							</div>
							<span class="icon icon-star right"></span>
						</label>
					</dd>
				</dl>
				<a id=submit href="javascript: submit()">提交年检预约</a>
			</form>
			<div id="tel" class="tel page out">
				<h3>救援电话</h3>
				<p>7894562</p>
			</div>
		</div>
	</body>
</html>
