<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="../public/css/index.css"/>
		<link rel="stylesheet" type="text/css" href="../public/css/car_choose.css"/>
		<link rel="stylesheet" type="text/css" href="../public/css/mobilebone.css"/>
		<link href="../public/css/animation.css" rel="stylesheet">
        <link rel="stylesheet" href="../public/css/fontello.css">
		<title>car_choose</title>
	</head>
	<body>
		<div class="page in">
			<header>
				<div class="header">
					<div class="back">
						<span></span>
					</div>
					<div class="locate">
						<span class="icon-location"></span>
						<span id="location">武汉</span>
					</div>
					<h1>车型选择</h1>
				</div>
			</header>
			<div id="main">
				<dl>
					<dt>A</dt>
					<dd>
						<a href="car_choose2.html" data-ajax="true">
							<div class="car-icon">
								<img src="../public/img/Bz6ssBlIgAAmVbn.png">
							</div>
							<span class="info">奥迪</span>
							<span class="right icon-reply"></span>
						</a>
					</dd>
					<dt>B</dt>
					<dd><a href="car_choose2.html"><div class="car-icon"><img src="../public/img/Bz6ssBlIgAAmVbn.png"></div><span class="info">奥迪</span>	<span class="right icon-reply"></span></a></dd>
					<dd><a href="car_choose2.html"><div class="car-icon"><img src="../public/img/Bz6ssBlIgAAmVbn.png"></div><span class="info">奥迪</span>	<span class="right icon-reply"></span></a></dd>
					<dd><a href="car_choose2.html"><div class="car-icon"><img src="../public/img/Bz6ssBlIgAAmVbn.png"></div><span class="info">奥迪</span>	<span class="right icon-reply"></span></a></dd>
					<dd><a href="car_choose2.html"><div class="car-icon"><img src="../public/img/Bz6ssBlIgAAmVbn.png"></div><span class="info">奥迪</span>	<span class="right icon-reply"></span></a></dd>
					<dd><a href="car_choose2.html"><div class="car-icon"><img src="../public/img/Bz6ssBlIgAAmVbn.png"></div><span class="info">奥迪</span>	<span class="right icon-reply"></span></a></dd>
				</dl>
			</div>
		</div>
		<script src="../public/js/mobilebone.js" type="text/javascript" charset="utf-8"></script>
		<script>Mobilebone.captureLink = false;</script>
	</body>
</html>
