<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="../public/css/index.css"/>
		<link rel="stylesheet" type="text/css" href="../public/css/car_choose.css"/>
		<link href="../public/css/animation.css" rel="stylesheet">
        <link rel="stylesheet" href="../public/css/fontello.css">
        <link rel="stylesheet" type="text/css" href="../public/boot/css/bootstrap.css"/>
		<title>car_choose</title>
	</head>
	<body>
		<header>
			<div class="header">
				<div class="back">
					<span></span>
				</div>
				<div class="locate">
					<span class="icon-location"></span>
					<span id="location">武汉</span>
				</div>
				<h1>奥迪</h1>
			</div>
		</header>
		<div id="main">
			<dl>
				<dt>国产</dt>
				<dd>
					<a href="">
						<span class="info">200</span>
						<span class="right icon-reply"></span>
					</a>
				</dd>
				<dd><a href=""><span class="info">A3</span><span class="right icon-reply"></span></a></dd>
				<dd><a href=""><span class="info">( ⊙ o ⊙ )啊！</span><span class="right icon-reply"></span></a></dd>
				<dd><a href=""><span class="info">A4</span><span class="right icon-reply"></span></a></dd>
				<dd><a href=""><span class="info">A4L</span><span class="right icon-reply"></span></a></dd>
				<dt>进口</dt>
				<dd><a href=""><span class="info">A1</span><span class="right icon-reply"></span></a></dd>
				<dd><a href=""><span class="info">A3</span><span class="right icon-reply"></span></a></dd>
				<dd><a href=""><span class="info">A5</span><span class="right icon-reply"></span></a></dd>
				<dd><a href=""><span class="info">A7</span><span class="right icon-reply"></span></a></dd>
				<dd><a href=""><span class="info">A4L</span><span class="right icon-reply"></span></a></dd>
			</dl>
		</div>
	</body>
</html>
