<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html" charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="../public/css/index.css"/>
		<link rel="stylesheet" type="text/css" href="../public/css/choose-service.css"/>
		<link rel="stylesheet" type="text/css" href="../public/css/mobilebone.css"/>
		<link href="../public/css/animation.css" rel="stylesheet">
        <link rel="stylesheet" href="../public/css/fontello.css">
		<script src="../public/js/choose_service.js" type="text/javascript" charset="utf-8"></script>
		<script src="../public/js/mobilebone.js" type="text/javascript" charset="utf-8"></script>
		<title></title>
	</head>
	<body>
		<header>
			<div class="header">
				<div class="locate">
					<span class="icon-location"></span>
					<span id="location">武汉</span>
				</div>
				<h1>选择服务</h1>
			</div>
			<div class="s-title type">奥迪>A4>1.8T>2009</div>
			<nav>
				<ul>
					<li class="active"><a href="#accessories">配件</a></li>
					<li class=""><a href="#maintain">保养</a></li>
				</ul>
			</nav>
		</header>
		<div id="main">
			<section id="accessories" class="page in">
				<ul class="accessories-type">
					<li class="cur" ontouchend="select(this)">
						<span>保养配件</span>
					</li>
					<li ontouchend="select(this)">
						<span>保养配件</span>
					</li>
					<li ontouchend="select(this)">
						<span>保养配件</span>
					</li>
					<li ontouchend="select(this)">
						<span>保养配件</span>
					</li>
					<li>
						<span>保养配件</span>
					</li>
					<li>
						<span>保养配件</span>
					</li>
					<li>
						<span>保养配件</span>
					</li>
					<li>
						<span>保养配件</span>
					</li>
				</ul>
				<dl id="accessories-list">
					<dd>
						<a href="">
							<span class="item">机油滤清器</span>
							<span class="icon icon-ok-circled"></span>
						</a>
					</dd>
					<dd>
						<a href="">
							<span class="item">机油滤清器</span>
							<span class="icon icon-ok-circled"></span>
						</a>
					</dd>
					<dd>
						<a href="">
							<span class="item">机油滤清器</span>
							<span class="icon icon-ok-circled"></span>
						</a>
					</dd>
				</dl>
			</section>
			<section id="maintain" class="page out">
				<form action="">
					<label>请输入里程数</label>
					<input type="text" name="" id="" value="" >
					<button type="submit">下一步 </button>
				</form>
			</section>
		</div>
	</body>
	<script type="text/javascript">Mobilebone.captureLink = false;</script>
</html>
