<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html" charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="../public/css/index.css"/>
		<link rel="stylesheet" type="text/css" href="../public/css/choose-service.css"/>
		<link href="../public/css/animation.css" rel="stylesheet">
        <link rel="stylesheet" href="../public/css/fontello.css">
		<script src="../public/js/website.js" type="text/javascript" charset="utf-8"></script>
		<title></title>
	</head>
	<body>
		<header>
			<div class="header">
				<div class="locate">
					<span class="icon-location"></span>
					<span id="location">武汉</span>
				</div>
				<h1>上牌时间和里程</h1>
			</div>
			<div class="s-title type">开始估价，待定</div>
		</header>
		<div id="main">
			<form action="">
				<label>请输入里程数</label>
				<input type="text" name="" id="" value="" >
				<button type="submit">开始估价 </button>
			</form>
		</div>
	</body>
</html>
