<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html" charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="../public/css/index.css"/>
		<link rel="stylesheet" type="text/css" href="../public/css/evaluate.css"/>
		<link href="../public/css/animation.css" rel="stylesheet">
        <link rel="stylesheet" href="../public/css/fontello.css">
		<script src="../public/js/website.js" type="text/javascript" charset="utf-8"></script>
		<title></title>
	</head>
	<body>
		<header>
			<div class="header">
				<div class="locate">
					<span class="icon-location"></span>
					<span id="location">武汉</span>
				</div>
				<h1>估价</h1>
			</div>
		</header>
		<div id="main">
			<dl>
				<dd>
					<p>奥迪 A6 2004年款 1.8L</p>
					<p>2013年上牌，行驶2333333公里</p>
				</dd>
				<dd>
					<p>评估价约：<span>233.3~466.6万</span>（估价仅供参考）</p>
					<p>买车裸价：233.3万+23万（购置税）</p>
				</dd>
			</dl>
			<div class="btn">
				<a href="">重新评估</a>
			</div>
		</div>
	</body>
</html>
