<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html" charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="../public/css/index.css"/>
		<link rel="stylesheet" type="text/css" href="../public/css/shop.css"/>
		<link rel="stylesheet" type="text/css" href="../public/css/shopping-cart.css"/>
		<link href="../public/css/animation.css" rel="stylesheet">
        <link rel="stylesheet" href="../public/css/fontello.css">
        <script src="../public/js/jquery.js" type="text/javascript" charset="utf-8"></script>
		<script src="../public/js/shopping-cart.js" type="text/javascript" charset="utf-8"></script>	
		<script src="../public/js/website.js" type="text/javascript" charset="utf-8"></script>
		<title></title>
	</head>
	<body>
		<header>
			<div class="header">
				<div class="locate">
					<span class="icon-location"></span>
					<span id="location">武汉</span>
				</div>
				<h1>购物车</h1>
			</div>
			<nav>
				<ul>
					<li class="active"><a href="#">购物车</a></li>
					<li class=""><a href="#">订单</a></li>
				</ul>
			</nav>
		</header>
		<div id="main">
			<div id="">
				<ul class="media-list">
					<div class="s-title type">
						<span class="time">2014-2-2</span>
						<span class="tip">1155</span>
					</div>
					<li class="media show">
						<div class="img">
							<img src="../public/img/Bz6ssBlIgAAmVbn.png"/>
						</div>
						<div class="media-body">
							<header>
								<h2>BOSCH博世 前刹车片 （一盒四片装）</h2>
							</header>
							<div class="content">
								<p ><del class="del-p">$58元</del></p>
								<p class="price">$<span >288.00</span></p>
								<p class="‎accessories">【后刹车片】</p>
							</div>
						</div>	
					</li>
					<li class="media show">
						<div class="img">
							<img src="../public/img/Bz6ssBlIgAAmVbn.png"/>
						</div>
						<div class="media-body">
							<header>
								<h2>BOSCH博世 前刹车片 （一盒四片装）</h2>
							</header>
							<div class="content">
								<p ><del class="del-p">$58元</del></p>
								<p class="price">$<span >288.00</span></p>
								<p class="‎accessories">【后刹车片】</p>
							</div>
						</div>	
					</li>
					<li class="btn rebuy">
						<a href="">再次购买</a>
					</li>
					<li class="btn pay">
						<a href="id">购买</a>
					</li>
				</ul>
			</div>
		</div>
	</body>
</html>
