<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html" charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="../public/css/index.css"/>
		<link rel="stylesheet" type="text/css" href="../public/css/maintain_select.css"/>
		<link href="../public/css/animation.css" rel="stylesheet">
        <link rel="stylesheet" href="../public/css/fontello.css">
		<script src="../public/js/shopping-cart.js" type="text/javascript" charset="utf-8"></script>	
		<script src="../public/js/website.js" type="text/javascript" charset="utf-8"></script>
		<title></title>
	</head>
	<body>
		<header>
			<div class="header">
				<div class="locate">
					<span class="icon-location"></span>
					<span id="location">武汉</span>
				</div>
				<h1>选择保养项目</h1>
			</div>
			<div class="s-title type">奥迪>A4>1.8T>2009</div>
		</header>
		<div id="main">
			<form action="" method="post">
				<dl>
					<dt>按里程数需选择保养项目(6项)</dt>
					<dd>
						<label>
							<input type="checkbox" name="" id="" value="" />
							<span>更换机油</span>
							<span class="icon icon-star"></span>
						</label>
					</dd>
					<dd>
						<label>
							<input type="checkbox" name="" id="" value="" />
							<span>更换机油</span>
							<span class="icon icon-star"></span>
						</label>
					</dd>
					<dd>
						<label>
							<input type="checkbox" name="" id="" value="" />
							<span>更换机油</span>
							<span class="icon icon-star"></span>
						</label>
					</dd>
				</dl>
				<dl>
					<dt>需检查再选定的项目(4项)</dt>
					<dd>
						<label>
							<input type="checkbox" name="" id="" value="" />
							<span>更换机油</span>
							<span class="icon icon-star"></span>
						</label>
					</dd>
					<dd>
						<label>
							<input type="checkbox" name="" id="" value="" />
							<span>更换机油</span>
							<span class="icon icon-star"></span>
						</label>
					</dd>
					<dd>
						<label>
							<input type="checkbox" name="" id="" value="" />
							<span>更换机油</span>
							<span class="icon icon-star"></span>
						</label>
					</dd>
					<dd>
						<label>
							<input type="checkbox" name="" id="" value="" />
							<span>更换机油</span>
							<span class="icon icon-star"></span>
						</label>
					</dd>
				</dl>
				<div class="bottom">
					<input type="submit" value="加入订单"/>
				</div>
			</form>
		</div>
	</body>
</html>
