<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />  
		<link rel="stylesheet" type="text/css" href="../public/css/index.css"/>
		<link rel="stylesheet" type="text/css" href="../public/css/map.css"/>
		<script type="text/javascript" src="http://api.map.baidu.com/api?type=quick&ak=qRqoZ6KBfITmuMiDtGKUERhXf&v=1.0"></script>  
		<!--<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.5&ak=qRqoZ6KBfITmuMiDtGKUERhX"></script>-->
		<!--<script src="http://api.map.baidu.com/components?ak=qRqoZ6KBfITmuMiDtGKUERhX&v=1.0"></script>-->
		<script src="js/bmap.js" type="text/javascript" charset="utf-8"></script>
		<title>test</title>
	</head>
	<body>
		<header>
			<div class="header">
				<div class="back">
					<span class=""></span>
				</div>
				<h1>查看地图</h1>
			</div>
		</header>
		<div id="map">
		</div>
		<p id="log"></p>
	</body>
</html>
