<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html" charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="../public/css/index.css"/>
		<link rel="stylesheet" type="text/css" href="../public/css/my_car.css"/>
		<link href="../public/css/animation.css" rel="stylesheet">
		<link rel="stylesheet" href="../public/css/car_choose.css" />
        <link rel="stylesheet" href="../public/css/fontello.css">
		<script src="../public/js/website.js" type="text/javascript" charset="utf-8"></script>
		<title></title>
	</head>
	<body>
		<header>
			<div class="header">
				<div class="locate">
					<span class="icon-location"></span>
					<span id="location">武汉</span>
				</div>
				<h1>选择车型</h1>
			</div>
			<div class="s-title custom">
				<span>自定义车型</span>
				<span class="icon-reply"></span>
			</div>
		</header>
		<div id="main">
			<dl>
				<dt>我的爱车</dt>
				<dd>
					<a href="car_choose2.html" data-ajax="true">
						<div class="car-icon">
							<img src="../public/img/Bz6ssBlIgAAmVbn.png">
						</div>
						<span class="info">奥迪 A6 1.8t 2009</span>
						<span class="right icon-reply"></span>
					</a>
				</dd>
				<dd>
					<a href="car_choose2.html" data-ajax="true">
						<div class="car-icon">
							<img src="../public/img/Bz6ssBlIgAAmVbn.png">
						</div>
						<span class="info">奥迪</span>
						<span class="right icon-reply"></span>
					</a>
				</dd>
				<dd>
					<a href="car_choose2.html" data-ajax="true">
						<div class="car-icon">
							<img src="../public/img/Bz6ssBlIgAAmVbn.png">
						</div>
						<span class="info">奥迪</span>
						<span class="right icon-reply"></span>
					</a>
				</dd>
			</dl>
		</div>
	</body>
</html>
