<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html" charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="../public/css/index.css"/>
		<link rel="stylesheet" type="text/css" href="../public/css/shop.css"/>
		<link rel="stylesheet" type="text/css" href="../public/css/shopping-cart.css"/>
		<link href="../public/css/animation.css" rel="stylesheet">
        <link rel="stylesheet" href="../public/css/fontello.css">
        <script src="../public/js/jquery.js" type="text/javascript" charset="utf-8"></script>
		<script src="../public/js/shopping-cart.js" type="text/javascript" charset="utf-8"></script>	
		<script src="../public/js/website.js" type="text/javascript" charset="utf-8"></script>
		<title></title>
	</head>
	<body>
		<header>
			<div class="header">
				<div class="locate">
					<span class="icon-location"></span>
					<span id="location">武汉</span>
				</div>
				<h1>购物车</h1>
			</div>
			<nav>
				<ul>
					<li class="active"><a href="#">购物车</a></li>
					<li class=""><a href="#">订单</a></li>
				</ul>
			</nav>
		</header>
		<div id="main">
			<div id="">
				<ul class="media-list">
					<div class="s-title type">奥迪>A4>1.8T>2009</div>
					<li class="media show">
						<div class="img">
							<img src="../public/img/Bz6ssBlIgAAmVbn.png"/>
						</div>
						<div class="media-body">
							<header>
								<h2>BOSCH博世 前刹车片 （一盒四片装）</h2>
							</header>
							<div class="content">
								<p ><del class="del-p">$58元</del></p>
								<p class="price">$<span >288.00</span></p>
								<p class="‎accessories">【后刹车片】</p>
								<div class="num" >
									<span class="text" ontouchend="show_select(this)">1</span>
									<div class="cover">
										<ul>
											<li class="select" ontouchend="choose(this)">1</li>
											<li class="select" ontouchend="choose(this)">2</li>
											<li class="select" ontouchend="choose(this)">3</li>
											<li>4</li>
											<li>5</li>
											<li>6</li>
											<li>7</li>
											<li>8</li>
											<li>9</li>
											<li>10</li>
											<li class="close" ontouchend="cancel(this)">取消</li>
										</ul>
									</div>
									
								</div>
							</div>
						</div>	
						<div class="delete">
							<a  class="btn" href="javascript:void(0);" ontouchend="curDelete(this)">删除</a>
						</div>
					</li>
					<li class="media show">
						<div class="img">
							<img src="../public/img/Bz6ssBlIgAAmVbn.png"/>
						</div>
						<div class="media-body">
							<header>
								<h2>BOSCH博世 前刹车片 （一盒四片装）</h2>
							</header>
							<div class="content">
								<p ><del class="del-p">$58元</del></p>
								<p class="price">$<span >288.00</span></p>
								<p class="‎accessories">【后刹车片】</p>
								<div class="num" >
									<span class="text" ontouchend="show_select(this)">1</span>
									<div class="cover">
										<ul>
											<li class="select" ontouchend="choose(this)">1</li>
											<li class="select" ontouchend="choose(this)">2</li>
											<li class="select" ontouchend="choose(this)">3</li>
											<li>4</li>
											<li>5</li>
											<li>6</li>
											<li>7</li>
											<li>8</li>
											<li>9</li>
											<li>10</li>
											<li class="close" ontouchend="cancel(this)">取消</li>
										</ul>
									</div>
									
								</div>
							</div>
						</div>	
						<div class="delete">
							<a class="btn" href="javascript:void(0);" ontouchend="curDelete(this)">删除</a>
						</div>
					</li>
					<li class="install">
						<p>选择特约安装店：</p>
						<div>
							<address>
								<a href="">
									地址：
									<span>哈哈哈哈哈哈哈</span>
								</a>	
							</address>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</body>
	<footer >
		<div class="content">
			<p>共<span id="t-num">2</span>件商品，总重XXX</p>
			<p>商品总金额(不含运费):</p>
			<p class="price">$<span id='price'>576.00</span></p>
		</div>
		<div>
			<a id="submit" class="clearing" href="" ontouchend="submit()">去结算</a>
		</div>
		<div>
			<span class="icon-reply"></span>
		</div>
	</footer>
</html>
