<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html" charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="../public/css/index.css"/>
		<link rel="stylesheet" type="text/css" href="../public/css/shop.css"/>
		<link rel="stylesheet" type="text/css" href="../public/css/media.css"/>
		<link rel="stylesheet" type="text/css" href="../public/css/timeline.css"/>
		<link rel="stylesheet" type="text/css" href="../public/css/mobilebone.css"/>
		<link href="../public/css/animation.css" rel="stylesheet">
        <link rel="stylesheet" href="../public/css/fontello.css">
        <script src="../public/js/mobilebone.js" type="text/javascript" charset="utf-8"></script>
		<script src="../public/js/website.js" type="text/javascript" charset="utf-8"></script>
		<title></title>
	</head>
	<body>
		<header>
			<div class="header">
				<div class="locate">
					<span class="icon-location"></span>
					<span id="location">武汉</span>
				</div>
				<h1>爱车历程</h1>
			</div>
			<nav>
				<ul>
					<li class="active"><a href="#default">默认</a></li>
					<li class=""><a href="#maintain">保养</a></li>
					<li class=""><a href="#stars">维修</a></li>
				</ul>
			</nav>
		</header>
		<div id="main">
			<section id="default" class="page in">
				<ul class="clear">
					<li>
						<span class="label time">11.11</span>
						<dl class="media-list">
							<span class="crate"></span>
							<dt>
								<span class="label item">保养记录</span>
								<span class="label item">保养记录</span>
								<span class="label item">保养记录</span>
								<span class="label item">保养记录</span>
							</dt>
							<dd class="media">
								<div class="img">
									<img src="../public/img/Bz6ssBlIgAAmVbn.png"/>
								</div>
								<div class="media-body">
									<header>
										<h2>BOSCH博世 前刹车片 （一盒四片装）</h2>
									</header>
									<div class="content">
										<p ><del class="del-p">$58元</del></p>
										<p class="price">$<span >288.00</span></p>
										<p class="‎accessories">【后刹车片】</p>
									</div>
								</div>	
							</dd>
							<dd class="media">
								<div class="img">
									<img src="../public/img/Bz6ssBlIgAAmVbn.png"/>
								</div>
								<div class="media-body">
									<header>
										<h2>BOSCH博世 前刹车片 （一盒四片装）</h2>
									</header>
									<div class="content">
										<p ><del class="del-p">$58元</del></p>
										<p class="price">$<span >288.00</span></p>
										<p class="‎accessories">【后刹车片】</p>
									</div>
								</div>	
							</dd>
						</dl>
					</li>
					<li>
						<span class="label time">11.11</span>
						<dl class="media-list">
							<span class="crate"></span>
							<dt>
								<span class="label item">保养记录</span>
								<span class="label item">保养记录</span>
								<span class="label item">保养记录</span>
								<span class="label item">保养记录</span>
							</dt>
							<dd class="media">
								<div class="img">
									<img src="../public/img/Bz6ssBlIgAAmVbn.png"/>
								</div>
								<div class="media-body">
									<header>
										<h2>BOSCH博世 前刹车片 （一盒四片装）</h2>
									</header>
									<div class="content">
										<p ><del class="del-p">$58元</del></p>
										<p class="price">$<span >288.00</span></p>
										<p class="‎accessories">【后刹车片】</p>
									</div>
								</div>	
							</dd>
							<dd class="media">
								<div class="img">
									<img src="../public/img/Bz6ssBlIgAAmVbn.png"/>
								</div>
								<div class="media-body">
									<header>
										<h2>BOSCH博世 前刹车片 （一盒四片装）</h2>
									</header>
									<div class="content">
										<p ><del class="del-p">$58元</del></p>
										<p class="price">$<span >288.00</span></p>
										<p class="‎accessories">【后刹车片】</p>
									</div>
								</div>	
							</dd>
						</dl>
					</li>
					<li>
						<span class="label time">11.11</span>
						<dl class="media-list">
							<span class="crate"></span>
							<dt>
								<span class="label item">保养记录</span>
								<span class="label item">保养记录</span>
								<span class="label item">保养记录</span>
								<span class="label item">保养记录</span>
							</dt>
							<dd class="media">
								<div class="img">
									<img src="../public/img/Bz6ssBlIgAAmVbn.png"/>
								</div>
								<div class="media-body">
									<header>
										<h2>BOSCH博世 前刹车片 （一盒四片装）</h2>
									</header>
									<div class="content">
										<p ><del class="del-p">$58元</del></p>
										<p class="price">$<span >288.00</span></p>
										<p class="‎accessories">【后刹车片】</p>
									</div>
								</div>	
							</dd>
							<dd class="media">
								<div class="img">
									<img src="../public/img/Bz6ssBlIgAAmVbn.png"/>
								</div>
								<div class="media-body">
									<header>
										<h2>BOSCH博世 前刹车片 （一盒四片装）</h2>
									</header>
									<div class="content">
										<p ><del class="del-p">$58元</del></p>
										<p class="price">$<span >288.00</span></p>
										<p class="‎accessories">【后刹车片】</p>
									</div>
								</div>	
							</dd>
						</dl>
					</li>
				</ul>
			</section>
			<section id="maintain" class="page out">
				<ul class="clear">
					<li>
						<span class="label time">11.11</span>
						<dl class="media-list">
							<span class="crate"></span>
							<dt>
								<span class="label item">更换滤芯</span>
								<span class="label item">保养记录</span>
								<span class="label item">保养记录</span>
								<span class="label item">保养记录</span>
							</dt>
							<dd class="media">
								<div class="img">
									<img src="../public/img/Bz6ssBlIgAAmVbn.png"/>
								</div>
								<div class="media-body">
									<header>
										<h2>BOSCH博世 前刹车片 （一盒四片装）</h2>
									</header>
									<div class="content">
										<p ><del class="del-p">$58元</del></p>
										<p class="price">$<span >288.00</span></p>
										<p class="‎accessories">【后刹车片】</p>
									</div>
								</div>	
							</dd>
							<dd class="media">
								<div class="img">
									<img src="../public/img/Bz6ssBlIgAAmVbn.png"/>
								</div>
								<div class="media-body">
									<header>
										<h2>BOSCH博世 前刹车片 （一盒四片装）</h2>
									</header>
									<div class="content">
										<p ><del class="del-p">$58元</del></p>
										<p class="price">$<span >288.00</span></p>
										<p class="‎accessories">【后刹车片】</p>
									</div>
								</div>	
							</dd>
						</dl>
					</li>
					<li>
						<span class="label time">11.11</span>
						<dl class="media-list">
							<span class="crate"></span>
							<dt>
								<span class="label item">保养记录</span>
								<span class="label item">保养记录</span>
								<span class="label item">保养记录</span>
								<span class="label item">保养记录</span>
							</dt>
							<dd class="media">
								<div class="img">
									<img src="../public/img/Bz6ssBlIgAAmVbn.png"/>
								</div>
								<div class="media-body">
									<header>
										<h2>BOSCH博世 前刹车片 （一盒四片装）</h2>
									</header>
									<div class="content">
										<p ><del class="del-p">$58元</del></p>
										<p class="price">$<span >288.00</span></p>
										<p class="‎accessories">【后刹车片】</p>
									</div>
								</div>	
							</dd>
							<dd class="media">
								<div class="img">
									<img src="../public/img/Bz6ssBlIgAAmVbn.png"/>
								</div>
								<div class="media-body">
									<header>
										<h2>BOSCH博世 前刹车片 （一盒四片装）</h2>
									</header>
									<div class="content">
										<p ><del class="del-p">$58元</del></p>
										<p class="price">$<span >288.00</span></p>
										<p class="‎accessories">【后刹车片】</p>
									</div>
								</div>	
							</dd>
						</dl>
					</li>
					<li>
						<span class="label time">11.11</span>
						<dl class="media-list">
							<span class="crate"></span>
							<dt>
								<span class="label item">保养记录</span>
								<span class="label item">保养记录</span>
								<span class="label item">保养记录</span>
								<span class="label item">保养记录</span>
							</dt>
							<dd class="media">
								<div class="img">
									<img src="../public/img/Bz6ssBlIgAAmVbn.png"/>
								</div>
								<div class="media-body">
									<header>
										<h2>BOSCH博世 前刹车片 （一盒四片装）</h2>
									</header>
									<div class="content">
										<p ><del class="del-p">$58元</del></p>
										<p class="price">$<span >288.00</span></p>
										<p class="‎accessories">【后刹车片】</p>
									</div>
								</div>	
							</dd>
							<dd class="media">
								<div class="img">
									<img src="../public/img/Bz6ssBlIgAAmVbn.png"/>
								</div>
								<div class="media-body">
									<header>
										<h2>BOSCH博世 前刹车片 （一盒四片装）</h2>
									</header>
									<div class="content">
										<p ><del class="del-p">$58元</del></p>
										<p class="price">$<span >288.00</span></p>
										<p class="‎accessories">【后刹车片】</p>
									</div>
								</div>	
							</dd>
						</dl>
					</li>
				</ul>
			</section>
			<section id="stars" class="page out">
			</section>
		</div>
	</body>
</html>
